* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}

body {
    background-color: #7ebaddb6;
}

ul {
    list-style: none;
}

li a {
    color: #fff;
    text-decoration: none;
}

span {
    color: #ff004f;
}


.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px #ff004f solid;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300px;
    transition: background 0.5s;

}

.btn:hover {
    background: #ff004f;
}

.btn.btn2 {
    display: inline-block;
    background-color: #ff004f;
}

.nav .fas {
    display: none;
}

@media screen and (max-width: 600px) {

    #header {
        background-image: url(./image/appare2.jpg);
        background-position: center;
        background-size: cover;


    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;

    }

    .header-text h1 {
        font-size: 30px;
    }

    .nav .fas {
        display: block;
        font-size: 27px;
        color: #fff;
    }

    .nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    li {
        display: block;
        margin: 25px;
    }

    .nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sun-tittle {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

  .contact-left, .contact-right{
    flex-basis: 100%;
  }
  .copyright{
    font-size: 14px;
  }
}