#header {
  width: 100%;
  height: 100vh;
  background-image: url("./image/c7.jpg");
  background-position: center;
  background-size: cover;
}
#header .container {
  padding: 10px 10%;
}
#header .container .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#header .container .nav .logo h2 {
  width: 140px;
}
#header .container .nav .logo a {
  text-decoration: none;
  color: white;
}
#header .container .nav ul li {
  display: inline-block;
  margin: 10px 20px;
}
#header .container .header-text {
  margin-top: 20%;
  font-size: 25px;
}
#header .container .header-text h1 {
  font-size: 50px;
  margin-top: 20px;
}

#about .container {
  padding: 70px 60px;
  color: rgb(53, 52, 52);
}
#about .container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about .container .row .about-col-1 {
  flex-basis: 35%;
}
#about .container .row .about-col-1 img {
  width: 100%;
  border-radius: 15px;
  border: 2px rgba(83, 146, 181, 0.7137254902) solid;
}
#about .container .row .about-col-2 {
  flex-basis: 60%;
}
#about .container .row .about-col-2 .sun-tittle {
  font-size: 60px;
  font-weight: 600;
}
#about .container .row .about-col-2 .tab-titles {
  display: flex;
  margin: 20px 0 20px;
  gap: 40px;
}
#about .container .row .about-col-2 .tab-titles .tab-links {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
#about .container .row .about-col-2 .tab-titles .tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
#about .container .row .about-col-2 .tab-titles .tab-links.active-link::after {
  width: 50%;
}
#about .container .row .about-col-2 .tab-contents ul li {
  margin: 10px 0;
}
#about .container .row .about-col-2 .tab-contents ul li span {
  font-size: 14px;
}
#about .container .row .about-col-2 .tab-contents {
  display: none;
}
#about .container .row .about-col-2 .active-tab {
  display: block;
}

#services {
  padding: 50px 0;
}
#services .container {
  padding: 60px 70px;
  color: rgb(53, 52, 52);
}
#services .container .sun-tittle {
  font-size: 50px;
  font-weight: 600;
}
#services .container .services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
#services .container .services-list .icon-list {
  background-color: rgba(30, 51, 63, 0.7529411765);
  color: white;
  padding: 40px;
  font-weight: 300;
  font-size: 13px;
  border-radius: 15px;
  transition: background 0.5s, transform 0.5s;
}
#services .container .services-list .icon-list i {
  font-size: 30px;
  margin-bottom: 20px;
}
#services .container .services-list .icon-list h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}
#services .container .services-list .icon-list a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
  display: inline-block;
}
#services .container .services-list :hover {
  background: #ff004f;
  transform: translateY(-10px);
}

#portfolio {
  padding: 20px 0;
}
#portfolio .container {
  padding: 20px 70px;
  color: rgb(53, 52, 52);
}
#portfolio .container .sun-tittle {
  font-size: 50px;
  font-weight: 600;
}
#portfolio .container .work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}
#portfolio .container .work-list .work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#portfolio .container .work-list .work img {
  width: 100%;
  height: 400px;
  display: block;
  transition: transform 0.5s;
}
#portfolio .container .work-list .work .layer {
  width: 100%;
  height: 0;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 16px;
  transition: height 0.5s;
}
#portfolio .container .work-list .work .layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
#portfolio .container .work-list .work .layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
#portfolio .container .work-list .work .layer :hover {
  transform: scale(0.5s);
}
#portfolio .container .work-list .work:hover {
  transform: scale(1.1);
}
#portfolio .container .work-list .work:hover .layer {
  height: 100%;
}

#contact .container {
  padding: 20px 70px;
  color: rgb(53, 52, 52);
}
#contact .container .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact .container .row .contact-left {
  flex-basis: 35%;
}
#contact .container .row .contact-left .sub-title {
  font-size: 50px;
  font-weight: 600;
}
#contact .container .row .contact-left p {
  margin-top: 20px;
}
#contact .container .row .contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 20px;
}
#contact .container .row .contact-left .socail-icon {
  margin-top: 30px;
}
#contact .container .row .contact-left .socail-icon a {
  text-decoration: none;
  color: rgb(33, 35, 36);
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.5s;
}
#contact .container .row .contact-left .socail-icon a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
#contact .container .row .contact-right {
  flex-basis: 60%;
}
#contact .container .row .contact-right form {
  width: 100%;
}
#contact .container .row .contact-right form input,
#contact .container .row .contact-right form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #809ca4;
  padding: 15px;
  margin: 15px 0;
  color: rgb(53, 52, 52);
  font-size: 18px;
  border-radius: 6px;
}
#contact .container .row .contact-right form .btn2 {
  padding: 14PX 60px;
  font-size: 20PX;
  margin-top: 20PX;
  cursor: pointer;
}
#contact .copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
  color: #fff;
}
#contact .copyright i {
  color: #ff004f;
}/*# sourceMappingURL=style.css.map */