// .flex {
//     display: flex;
//     justify-content: space-evenly;
// }

#header {
    width: 100%;
    height: 100vh;
    background-image: url('./image/c7.jpg');
    background-position: center;
    background-size: cover;

    .container {
        padding: 10px 10%;

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .logo {
                h2 {
                    width: 140px;
                }

                a {
                    text-decoration: none;
                    color: white;
                }
            }


            ul {
                li {
                    display: inline-block;
                    margin: 10px 20px;

                }
            }
        }

        .header-text {
            margin-top: 20%;
            font-size: 25px;

            h1 {
                font-size: 50px;
                margin-top: 20px;

            }
        }
    }

}

// ====About :start======
#about {

    .container {
        padding: 70px 60px;
        color: rgb(53, 52, 52);

        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .about-col-1 {
                flex-basis: 35%;

                img {
                    width: 100%;
                    border-radius: 15px;
                    border: 2px #5392b5b6 solid;
                }
            }

            .about-col-2 {
                flex-basis: 60%;

                .sun-tittle {
                    font-size: 60px;
                    font-weight: 600;
                }

                .tab-titles {
                    display: flex;
                    margin: 20px 0 20px;
                    gap: 40px;

                    .tab-links {
                        margin-right: 40px;
                        font-size: 18px;
                        font-weight: 600;
                        cursor: pointer;
                        position: relative;
                    }

                    .tab-links::after {
                        content: '';
                        width: 0;
                        height: 3px;
                        background: #ff004f;
                        position: absolute;
                        left: 0;
                        bottom: -8px;
                        transition: 0.5s;


                    }

                    .tab-links.active-link::after {
                        width: 50%;
                    }




                }

                .tab-contents {
                    ul {
                        li {
                            margin: 10px 0;

                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }

                .tab-contents {
                    display: none;
                }

                .active-tab {
                    display: block;
                }
            }
        }
    }
}


// ===============services=====
#services {
    padding: 50px 0;

    .container {
        padding: 60px 70px;
        color: rgb(53, 52, 52);

        .sun-tittle {
            font-size: 50px;
            font-weight: 600;
        }

        .services-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 40px;
            margin-top: 40px;

            .icon-list {
                background-color: #1e333fc0;
                color: white;
                padding: 40px;
                font-weight: 300;
                font-size: 13px;
                border-radius: 15px;
                transition: background 0.5s, transform 0.5s;

                i {
                    font-size: 30px;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 26px;
                    font-weight: 500;
                    margin-bottom: 15px;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 13px;
                    margin-top: 20px;
                    display: inline-block;
                }

            }

            :hover {
                background: #ff004f;
                transform: translateY(-10px);
            }
        }
    }
}

// ===========portfolio======

#portfolio {
    padding: 20px 0;

    .container {
        padding: 20px 70px;
        color: rgb(53, 52, 52);

        .sun-tittle {
            font-size: 50px;
            font-weight: 600;
        }

        .work-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 40px;
            margin-top: 40px;

            .work {
                border-radius: 10px;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 400px;
                    display: block;
                    transition: transform 0.5s;

                }

                .layer {
                    width: 100%;
                    height: 0;
                    color: #fff;
                    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 40px;
                    text-align: center;
                    font-size: 16px;
                    transition: height 0.5s;

                    h3 {
                        font-weight: 500;
                        margin-bottom: 20px;
                    }

                    a {
                        margin-top: 20px;
                        color: #ff004f;
                        text-decoration: none;
                        font-size: 20px;
                        line-height: 60px;
                        background: #fff;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        text-align: center;
                    }

                    :hover {
                        transform: scale(0.5s);
                    }
                }
            }

            .work:hover {
                transform: scale(1.1);

                .layer {
                    height: 100%;
                }
            }


        }
    }
}

// ===================contact

#contact {
    .container {
        padding: 20px 70px;
        color: rgb(53, 52, 52);

        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .contact-left {

                flex-basis: 35%;

                .sub-title {
                    font-size: 50px;
                    font-weight: 600;
                }

                p {
                    margin-top: 20px;

                    i {
                        color: #ff004f;
                        margin-right: 15px;
                        font-size: 20px;
                    }
                }

                .socail-icon {
                    margin-top: 30px;

                    a {
                        text-decoration: none;
                        color: rgb(33, 35, 36);
                        font-size: 30px;
                        margin-right: 15px;
                        display: inline-block;
                        transition: transform 0.5s;


                    }

                    a:hover {
                        color: #ff004f;
                        transform: translateY(-5px);
                    }
                }
            }

            .contact-right {
                flex-basis: 60%;

                form {
                    width: 100%;

                    input,
                    textarea {
                        width: 100%;
                        border: 0;
                        outline: none;
                        background-color: #809ca4;
                        padding: 15px;
                        margin: 15px 0;
                        color: rgb(53, 52, 52);
                        font-size: 18px;
                        border-radius: 6px;
                    }

                    .btn2 {
                        padding: 14PX 60px;
                        font-size: 20PX;
                        margin-top: 20PX;
                        cursor: pointer;
                    }
                }
            }

        }

    }


    .copyright {
        width: 100%;
        text-align: center;
        padding: 25px 0;
        background: #262626;
        font-weight: 300;
        margin-top: 20px;
        color: #fff;

        i {
            color: #ff004f;
        }
    }
}